<%# Alerts: reports status %>
<section class="w-full mb-6">
  <div class="flex items-center gap-3 p-3 w-full bg-gray-50 border-solid border-2 border-gray-600 rounded-lg">
    <img src="assets/loading-icon.svg" alt="Positive status icon" class="w-5 h-5">
    <p class="text-gray-800"><b>Pending:</b> Awaiting response from server.</p>
  </div>
</section>