<%# Shared <footer> with copyright and emailing link %>
<footer class="flex pt-6 pb-6 mx-2 justify-center">
  <div class="flex max-w-7xl w-full sm:px-6 border-t-2 justify-center">
    <p class="italic text-blue-500 my-8">
      &copy; <%= footer.year %> <a href="mailto:<%= footer.email %>" class="underline underline-offset-2 hover:text-blue-800"><%= footer.emailText %></a>. <%= footer.text %>
    </p>
  </div>
</footer>